/* kanji.css */

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  
  
}


.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("IMAGE/b1.jfif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 1;
}

h1 {
  font-size: 70px;
  margin-bottom: 10px;
 position: relative;
 text-align: center;
  color: white;
  text-shadow: 2px 3px 10px rgba(0, 0, 0, 0.5);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

ul {
  list-style: none;
  padding: 0;
}

.kanji_button {
  font-family: 'PixelMplus', monospace;
  font-size: 30px;
  margin: 5px 0;
  transition: 0.3s;
  color: #ffff00;
  text-shadow: 2px 2px #ff00ff;
  background-color: transparent;
  border: 2px solid #ffffff;
  padding: 10px 20px;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: all 0.1s ease;
  image-rendering: pixelated;
}

select {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 5px;
  background: rgba(242, 242, 242, 0.501);
 backdrop-filter: blur(3px);
 box-shadow: 0 8px 32px inset rgba(31, 38, 135, 0.1);
  border: white;
  color: rgb(255, 255, 255);
  border-radius: 50px;
  appearance: none;
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat;
  cursor: pointer;
  width: 80px;
  position: absolute;
  left:  73%;
  top: 18%;
}

.word {
 
  font-size: 20px;              /* vừa phải hơn */
  font-weight: 700;
  color: #fff;
  line-height: 1.6;             /* giãn dòng đều */
  margin: 12px 0;
  white-space: normal;
  overflow-wrap: break-word;
  word-break: break-word;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.2); /* chữ nổi hơn */
}

.meaning {
 
  font-size: 60px;              /* vừa phải hơn */
  font-weight: 700;
  color: #fff;
  line-height: 1.6;             /* giãn dòng đều */
  margin: 12px 0; /*khoảng cách hợp lý giữa chữ và ô nhập*/
  white-space: normal;
  overflow-wrap: break-word;
  word-break: break-word;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.2); /* chữ nổi hơn */
  position: absolute;
  top: 20%;
}



input[type="text"] {
  font-size: 1.8em;
  background: rgba(255, 255, 255, 0.411);
  box-shadow: 2px 2px 10px inset white;
  border: 2px solid #007bff;

  padding: 30px;
  border-radius: 50px;
  border: none;
  width: 100%;
  max-width: 500px;
  height: 10px;
  position: absolute; /* Keep it absolute relative to lesson-card */
  top: 70%; /* Position relative to lesson-card */
  left: 50%; /* Center it horizontally */
  transform: translateX(-50%); /* Fine-tune centering */
  caret-color: rgb(255, 255, 255);
  
}

input[type="text"]:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

input::placeholder {
  color: #dddddd;         /* Màu chữ placeholder */
  font-style: italic;  /* Kiểu chữ nghiêng */
  font-size: 20px;     /* Cỡ chữ */
  opacity: 1;          /* Đảm bảo nó hiển thị rõ */
}


#result {
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: bold;
  position: absolute; /* Position relative to lesson-card */
  top: 83%;
  left: 50%;
  transform: translateX(-50%);
}

#result.correct {
  color:#4a6644;
  font-family: 'FVF-Fernando';
}

#result.incorrect {
  color: red;
}

#correctAnswer {
  margin-top: 10px;
  font-size: 0.9em;
  color: #ffffff;
  position: absolute; /* Position relative to lesson-card */
  top: 85%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%; /* Ensure it takes full width to center text */
  text-align: center; /* Center the text content */
}


.lesson-card {
  position: relative;
  
  margin-top: 30px;
  height: 400px;
  width: 800px;
  border-radius: 20px;
  background: hsla(0, 0%, 80%, 0.3);
  backdrop-filter: blur(5px);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  
  -webkit-backdrop-filter: blur(15px);
  border: 1.5px solid rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 20px;
  transition: all 0.3s ease-in-out;
}
/*
.home-button {
  font-family: 'Press Start 2P', cursive;
  padding: 10px 20px;
  font-size: 20px;

  position: absolute;
  top: 10%;
  left: 5%;

  
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px); 
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);

  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 20px;

  color: white;
  cursor: pointer;

  
}

.home-button:hover{
      
  background-color: rgb(255, 255, 255);
  transform: scale(1.1); 
  cursor: pointer;
    } 
*/






footer {
  position: absolute;
  bottom: 20px;
  font-size: 12px;
  color: #666;
}




